{% extends "layout.html" %}

{% block title %}
    article-page
{% endblock %}

{% block main %}
<section id="article-page">
  <section class="article-section">
    <div class="dark-mode">
      <ion-icon class="moon" name="moon-outline"></ion-icon>
      <ion-icon class="sun" name="sunny-outline"></ion-icon>
    </div>
    <section class="article-content">
      <article>
        <header>
          <h1>Web 3.0</h1>
        </header>
        <section>
          <h2>What it is</h2>
          <p>The Semantic Web - widely known as Web 3.0 - is an extension of the World Wide Web through standards set by the World Wide Web Consortium (W3C).The goal of the Semantic Web is to make Internet data machine-readable. It is a leap forward to open, trustless and permissionless networks.</p>
          <ul>
            <li>
              <p><span>"Open"</span> in that they are built from open source software built by an open and accessible community of developers and executed in full view of the world.</p>
            </li>
            <li>
              <p><span>"Trustless"</span> in that the network itself allows participants to interact publicly or privately without a trusted third party.</p>
            </li>
            <li>
              <p><span>"Permissionless"</span> in that anyone, both users and suppliers,can participate without authorisation from a governing body.</p>
            </li>
          </ul>
          <p>The ultimate outcome of these new open, trustless and permissionless networks is the possibility to coordinate & incentivise the long tail of work, service, data and content providers that are the disenfranchised backdrop to many of the worlds most acute challenges such as health, food, finance and sustainability. Where Web 2.0 was driven by the advent of mobile, social and cloud, Web 3.0 is built largely on three new layers of technological innovation: edge computing, decentralised data networks and artificial intelligence. </p>

          <p>With Web 3.0, women, men, machines & businesses will be able to trade value, information & work with global counterparties they don’t know or yet explicitly trust, without an intermediary. The most important evolution enabled by Web3.0 is the minimisation of the trust required for coordination on a global scale. This marks a move towards trusting all constituents of a network implicitly rather than needing to trust each individual explicitly and/or seeking to achieve trust extrinsically.</p>
          
          <p>Web 3.0 will fundamentally expand the scale & scope of both human and machine interactions far beyond what we can imagine today. These interactions, ranging from seamless payments to richer information flows, to trusted data transfers, will become possible with a vastly increased range of potential counterparties. Web 3.0 will enable us to interact with any individual or machine in the world, without having to pass through fee-charging middlemen. This shift will enable a whole new wave of previously unimaginable businesses and business models: from global co-operatives to decentralised autonomous organisations and self-sovereign data marketplaces.</p>

          <p>Web 3.0 enables a future where distributed users and machines are able to interact with data, value and other counterparties via a substrate of peer-to-peer networks without the need for third parties. The result: a composable human-centric & privacy preserving computing fabric for the next wave of the web. </p>
        </section>
        <section>
          <h2>Learn With Videos</h2>
          <p><a href="https://youtu.be/D8NwwFv7kBA" target="_blank" rel="external">Web 3.0: The Blockchain Effect</a></p>
          <p><a href="https://youtu.be/za26V3sAO1w" target="_blank" rel="external">What is Web 3.0? Why is it Important</a></p>
        </section>
      </article>
    </section>    
  </section>
</section>
{% endblock %}